@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
*{
   padding: 0%;
   margin: 0%;
   font-family: 'Bona Nova', serif;
}
body{
    /* background-color:white; */
}
.main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.heading h2{
    color: rgb(9, 13, 5);
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1px;
    padding-top: 2rem;
    margin: 1rem;
}
.search-bar{
    margin: 1rem 0;
    width: 400px;
    height:40px;
    outline: none;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
}
.container{
    width: 80%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 2rem;
}
.indexContainer{
    display: flex;
    margin: 2.5rem;

}